* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Moderne Schriftart */
    margin: 0; /* Entferne Standard-Margin */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Beginne oben */
    align-items: center;
    background: linear-gradient(135deg, #e0f2fe, #d1c4e9); /* Moderner Farbverlauf */
    color: #333; /* Dunklerer Text für bessere Lesbarkeit */
}

header {
    text-align: center;
    padding: 10px 20px; /* Mehr Platz um den Header */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparenter Hintergrund */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#language-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

#language-container button {
    max-width: 9%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#language-container button:hover {
    background-color: #0056b3;
}

#links {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #007bff; /* Blaue Links */
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

header h1 {
    color: #2c3e50; /* Dunklerer Titel */
    margin-bottom: 10px;
    font-size: 2em; /* Größerer Titel */
}

header p {
    color: #555;
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stärkerer Schatten */
    margin-top: 30px;
}

main > div {
    margin-bottom: 25px;
}

input,
button {
    padding: 14px 18px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

#loading-title {
    margin: 8px 0;
    color: #888;
}

.adress {
    font-style: italic;
    color: #777;
    margin-bottom: 12px;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #888;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}